<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
{{#each collections.posts}}
<div class="wrap">
  <div class="crop">
    <svg width="300px" height="300px">

          <clipPath id="top">
            <polygon points="0 300, 300 300, 150 0" />
          </clipPath>
          <clipPath id="bottom">
            <polygon points="0 0, 300 0, 150 300" />
          </clipPath>

        <polygon class="pointer-event top" points="0 300, 300 300, 150 0" />
        <polygon class="pointer-event bottom" points="0 0, 300 0, 150 300" />
        <image xlink:href="{{image.src}}" x="0" y="0" height="300px" preserveAspectRatio="xMinYMin slice" clip-path="url(#bottom)"/>
        <image xlink:href="{{image.src}}" x="0" y="0" height="300px" preserveAspectRatio="xMinYMin slice" clip-path="url(#top)"/>
      </svg>
  </div>
  <div class="description">
    <h2>Lorem ipsum</h2>
    <p>
        dolor sit amet, consectetur adipiscing elit. Vivamus lacus nisl, tempus at ligula at, malesuada consectetur justo. Fusce hendrerit turpis a ipsum tempor, ut iaculis nibh gravida.
    </p>
  </div>
</div>
{{/each}}
</body>
</html>
